@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome</h4>
    <p>Simple web application for a medical clinic made in ASP .NET Core MVC. </p>
    
    <hr />
    <h2>Patients</h2>
    <p>In Patients directory we can see all of the patients in our database, sort them by first and second name, and also add, edit and delete entries.</p>
    <p>To do ANY operation on database you need to be logged in. 
        You can use account admin@MedicalClinic with password Admin123!</p>
    <hr />
    <h2>Search</h2>
    <p>In Search directory we can search our database for patients based on either their PESEL or first name and/or last name. Obviously to do this you need to be logged in.</p>
</div>
